server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/security?serverTimezone=Asia/Seoul
    username: root
    password: 190711

  jpa:
    hibernate:
      ddl-auto: update #create update none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 1057069628656-2a4l0s8753d8osj570cakm71363t9rub.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
              - profile
          facebook:
            client-id: 645972650466408
            client-secret: b63decf28017aa2652263cce6bc4201e
            scope:
              - email
              - public_profile
          naver:
            client-id: lHsXqFTPHDM2POh1Vq_1
            client-secret: yJBDvVCv7L
            scope:
              - name
              - email
            client-name: Naver
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8080/login/oauth2/code/naver

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response # JSON ???? ?